{% extends "base.html" %}
{% load static %}

{% block css%}
    <link rel="stylesheet" href="{% static "css/exercise.css"%}">
{% endblock %}

{% block tagline_text %}
    <p>Упражняйся до посинения</p>
{% endblock tagline_text %}

{% block main %}
    {% comment %} <div class="note note-active">
        <div class="note-content">
            <audio src="{% static "audio/drum.wav"%}" controls></audio>
        </div>
        <div class="id-note">
            <img src="{% static "img/burger-bar.png"%}" alt="">
        </div>
    </div> {% endcomment %}
    <div class="cover-page" style="background-image: url({% static "img/DrumStock3.jpg" %});">
        <div class="cover-page-filter"></div>
        <p class="page-name">
            Упражнения ритма
        </p>
        <p class="page-tagline">
            Нечетные ритмы и упражнения под метроном
        </p>
    </div>
    <div class="exercise-block">
        <div class="ex-info">
            <p>Упражнение №1 <br>  Single Stroke Roll (дробь одиночными ударами)</p>
            <img src="{% static "img/exercise/exHimg/exH1.gif"%}" alt="">
        </div>
        <div class="line">

        </div>
        <div class="ex-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/X-rGsGZTlso?si=mKk0WoZwX10KLMKo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <div class="exercise-block">
        <div class="ex-info">
            <p>Упражнение №2 <br>  Single Stroke Seven (дробь секстолями)</p>
            <img src="{% static "img/exercise/exHimg/exH2.jpg"%}" alt="">
        </div>
        <div class="line">

        </div>
        <div class="ex-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Z7u9AC9F56k?si=4Mm2ES7I_6pLSZLI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <div class="exercise-block">
        <div class="ex-info">
            <p>Упражнение №3 <br>  Multiple Bounce Roll (дробь с отскоком)</p>
            <img src="{% static "img/exercise/exHimg/exH3.jpg"%}" alt="">
        </div>
        <div class="line">

        </div>
        <div class="ex-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1POZ_LZyLCQ?si=qeqT5CCF9N-l5B9C" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <div class="exercise-block">
        <div class="ex-info">
            <p>Упражнение №4 <br>  Single Paradiddle (парадидл)</p>
            <img src="{% static "img/exercise/exHimg/exH4.jpg"%}" alt="">
        </div>
        <div class="line">

        </div>
        <div class="ex-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Dst0AdVB21Q?si=5D-aX1RwWfq6YQ0R" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <div class="exercise-block">
        <div class="ex-info">
            <p>Упражнение №5 <br>  Double Paradiddle (парадидлдидл)</p>
            <img src="{% static "img/exercise/exHimg/exH5.jpg"%}" alt="">
        </div>
        <div class="line">

        </div>
        <div class="ex-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/LYTbj4_YY1I?si=WoppPQC5WgMz27zl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <div class="exercise-block">
        <div class="ex-info">
            <p>Упражнение №6 <br>  Flam (форшлаг)</p>
            <img src="{% static "img/exercise/exHimg/exH6.jpg"%}" alt="">
        </div>
        <div class="line">

        </div>
        <div class="ex-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/r4VOCdVJwQE?si=mED_zcp5zpy3fG5J" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <div class="exercise-block">
        <div class="ex-info">
            <p>Упражнение №7 <br>  Flam Accent (форшлаг с акцентом)</p>
            <img src="{% static "img/exercise/exHimg/exH7.jpg"%}" alt="">
        </div>
        <div class="line">

        </div>
        <div class="ex-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/IihtKe7NAYA?si=cyJ1TivfPgoxGGse" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <div class="exercise-block">
        <div class="ex-info">
            <p>Упражнение №8 <br>  Flam Paradiddle (паррадидл с форшлагом)</p>
            <img src="{% static "img/exercise/exHimg/exH8.jpg"%}" alt="">
        </div>
        <div class="line">

        </div>
        <div class="ex-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JYZN1YVqRRI?si=H9L4a7_XqyPSe6wf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <div class="exercise-block">
        <div class="ex-info">
            <p>Упражнение №9 <br>  The Pataflafla (патафлафла)</p>
            <img src="{% static "img/exercise/exHimg/exH9.jpg"%}" alt="">
        </div>
        <div class="line">

        </div>
        <div class="ex-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hXdVS5t4C04?si=i-nRHTPD_FN7vef0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <div class="exercise-block">
        <div class="ex-info">
            <p>Упражнение №10 <br>  Triple Ratamacue (-)</p>
            <img src="{% static "img/exercise/exHimg/exH10.jpg"%}" alt="">
        </div>
        <div class="line">

        </div>
        <div class="ex-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OOrttvxjOrw?si=FuEnZ6gejXu4k3aL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <div class="text">
        Удачи Вам, друзья! И обязательно помните, что усидчивость и старание - залог успеха барабанщика!
    </div>
{% endblock main %}


{% block js %}  
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static "js/index.js" %}"></script>
{% endblock js %}

