{% extends "base.html" %}
{% load static %}

{% block css%}
    <link rel="stylesheet" href="{% static "css/style.css"%}">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
{% endblock %}

{% comment %} {% block header %}
    <div class="Logo">
        <div>
            <img src="{% static "img/Logo.png"%}" alt="">
        </div>
        <div class="cover-title">
            Drums for Beginers
        </div>
    </div>
    <div class="tagline">
        <p>Открой в себе ритм музыки</p>
    </div>
    <div class="burger-wrapper">
        <div class="burger-menu-btn">
            <img src="{% static "img/burger-bar.png"%}" alt="">
        </div>
        <div class="burger-menu">
            <div class="burger-menu-content">
                <div class="burger-menu-block burger-block-active">
                    <a href="{% url "index"%}">
                        <p>Главная страница</p> 
                    </a>
                </div>
                <div class="burger-menu-block">
                    <a href="{% url "game-page"%}">
                        <p>Игровая страница</p> 
                    </a>
                </div>
                <div class="burger-menu-block">
                    <a href="{% url "exercise-page"%}">
                        <p>Упражнения</p>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="burger-filter">
    </div>
{% endblock %} {% endcomment %}

{% block main %}

    <div class="cover-page">
        <div class="cover-page-filter"></div>
        <img src="{% static "img/Coverpage.jpg" %}" alt="">
        <div class="cover-page-arrow">
            <a href="#drums-info">
                <img src="{% static "img/down-arrow.png"%}" alt="">
            </a>
        </div>
    </div>
    <div class="drums-info" id="drums-info">
        <h2>Какие бывают барабаны</h2>
        <div class="slide-line"></div>
        <div class="swiper-block">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="slider-slide swiper-slide">
                        <div class="slide-info">
                            <h3> Акустическая установка </h3>
                            <div class="slide-text">
                                <p>	Самый привычные барабаны. В обычной установке присутствуют такие барабаны как: бас-бочка, малый барабан, хай-хэт, три тома, тарелка «райд» и тарелка «крэш». Для барабанов существует множество дополнительный элементов, свойственных для определенных жанров музыки, например: Кардан (Двойная педаль для бас-бочки), Кавбелл (Похожий на коровий колокольчик) и множество других.</p>
                            </div>
                        </div>
                        <div class="slide-img">
                            <img src={% static "img/DrumInfo/Барабанная установка.png"%} alt="">
                        </div>
                    </div>
                    <div class="slider-slide swiper-slide">
                        <div class="slide-info">
                            <h3> Электронная установка </h3>
                            <div class="slide-text">
                                <p>Электронная установка очень похожа на акустическу. В ней также присутствуют стандартные элементы, но сама установка работает с помощью электричества и передает звук в наушникик или на колонки. Такие барабаны подходят для тренировок дома, так как имеют более тихий шум.</p>
                            </div>
                        </div>
                        <div class="slide-img">
                            <img src={% static "img/DrumInfo/Электронная установка.png"%} alt="">
                        </div>
                    </div>
                    <div class="slider-slide swiper-slide">
                        <div class="slide-info">
                            <h3> Джембе </h3>
                            <div class="slide-text">
                                <p>	Джембе — традиционный музыкальный инструмент западноафриканских народов. Играют на джембе двумя руками. Основных звука три: низкий удар (бас), высокий (тон) и шлепок-звонкий (слэп). Играющий стоит, при этом барабан подвешивается на специальный ремень или ставится на особую стойку. Такой барабан свойственнен для игры в различных народных оркестрах</p>
                            </div>
                        </div>
                        <div class="slide-img">
                            <img src={% static "img/DrumInfo/Джембе.png"%} alt="">
                        </div>
                    </div>
                    <div class="slider-slide swiper-slide">
                        <div class="slide-info">
                            <h3> Литавры </h3>
                            <div class="slide-text">
                                <p> Литавры представляют собой систему от двух до семи металлических котлообразных чаш, открытая сторона которых затянута кожей или пластиком, а нижняя часть может иметь отверстие. С помощью педали можно натягивать пластик, тем самым меняя тон инструмента. Чаще всего используются в оркестрах	
                                </p>
                            </div>
                        </div>
                        <div class="slide-img">
                            <img src={% static "img/DrumInfo/Литавры.png"%} alt="">
                        </div>
                    </div>
                    <div class="slider-slide swiper-slide">
                        <div class="more"> 
                            <a href="{% url "all-drums" %}"><h3>Больше интесеных барабанов...</h3></a> 
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev" style="color: white;"></div>
                <div class="swiper-button-next" style="color: white;"></div>
            </div>
        </div>
    </div>
    <div class="drummers-info">
        <div>
            <h3>Кто же играет на барабанах? <br> (Одни из самых известных барабанщиков)</h3>
        </div>
        <div class="slide-line"></div>
        <div class="drummer-block">
             <div class="drummer-photo">
                <img src="{% static "img/Drummers/Бадди Рич.jpeg"%}" alt="">
             </div>
             <div class="drummer-info">
                <h3>Бадди Рич</h3>
                <p>Американский джазовый барабанщик, композитор. Лидер списка самых влиятельных барабанщиков всех времён, составленного журналом «Rhythm Magazine». Оказал влияние на большинство современных барабанщиков.Техника Рича, в том числе скорость и гладкость исполнения, стала стандартом в игре на барабанах. Несмотря на традиционную хватку, он также мог играть с помощью других захватов. Один из его трюков — пересекающиеся движения рук во время барабанной дроби. Другой приём, который он использовал для впечатления публики, называется stick-trick — быстрые отскоки палочек в воздухе друг от друга.</p>
             </div>
        </div>
        <div class="drummer-block">
            <div class="drummer-info">
               <h3>Джон Бонэм</h3>
               <p>Джон Генри Бонэм (прозвище «Bonzo») — легендарный британский барабанщик, участник группы Led Zeppelin, за время игры в которой стал одним из известнейших и влиятельнейших ударников в рок-музыке. Специалисты отмечали уникальную мощь его игры и чувство внутренней энергетики ритма. Encyclopædia Britannica назвала Бонэма «идеальным примером для всех барабанщиков хард-рока, которые пошли по его стопам». После смерти Бонэма в возрасте 32 лет Led Zeppelin распались.</p>
            </div>
            <div class="drummer-photo">
                <img src="{% static "img/Drummers/Джон Бонэм.jpg"%}" alt="">
            </div>
        </div>
        <div class="drummer-block">
            <div class="drummer-photo">
               <img src="{% static "img/Drummers/Джои Джордисон.jpg"%}" alt="">
            </div>
            <div class="drummer-info">
               <h3>Джои Джордисон</h3>
               <p>Джои Джордисон — американский барабанщик, творческая биография которого была связана с несколькими музыкальными коллективами. Предпочитая тяжелую музыку, ударник вошел в топ-50 лучших барабанщиков по версии издания Classic Rock и даже вписал свое имя в Книгу рекордов Гиннесса за счет свойе невероятной скорости. Его легендарным перформансом стала игра на вращающейся барабанной установке над сценой.</p>
            </div>
        </div>
        <div class="drummer-block">
            <div class="drummer-info">
                <h3>Шутов Александр</h3>
                <p> Александр Шутов - ученик 8-ого класса Павловской Гимназии и участник смешанной группы учеников и выпусников одноименной школы. <br> <br> Mастер использовать барабанные палочки для приготовления суши для ваших ушей. Человек, использующий шторы для создания ветра на сцене, чтобы стало чуть-чуть попрохладнее. <br> (Сказанно Степаном Артеменко)</p>
            </div>
            <div class="drummer-photo">
                <img src="{% static "img/Drummers/Шутов Александр.jpg"%}" alt="">
            </div>
        </div>
    </div>
    <div class="transition">
        <div class="transition-block" style="background-image: url({% static "img/game-img.png" %})">
            <a href="{% url "game-page" %}"><p> Прочитал - попробуй! <br> <span class="transition-block-subtitle">Веб-приложение барабанной установки</span></p></a> 
        </div>
    </div>
    <div class="transition">
        <div class="transition-block" style="background-image: url({% static "img/DrumStock.png" %})">
            <a href="{% url "all-ex" %}"><p> Попробовал - научись! <br> <span class="transition-block-subtitle">Упражнения для освоения ударной установки</span></p></a> 
        </div>
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static "js/index.js" %}"></script>
{% endblock js %}